.cargo/
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
.flatpak/
vendor
**/.flatpak-builder
flatpak_out/
flatpak_repo/
*.flatpak
**/*.rs.bk
*.pdb
.vscode/
*.git
*.syscap
